/venv/
/.idea/
/bk/
/временные/
/1.py
/all_dct.pickle
/allowed_users.txt
/logs/app.log
/logs/app.log.2024-09-24
/logs/app.log.2024-09-26
/logs/app.log.2024-09-27
/logs/app.log.2024-10-02
/logs/app.log.2024-10-03
/logs/app.log.2024-10-04
/logs/app.log.2024-10-05
/auctioneer.html
/BattleKnight.html
/BattleKnight.mhtml
/BattleKnigt.zip
/color.py
/duel.html
/gamer_gold.pickle
/group.html
/korov.pickle
/korovka.html
/korovka.txt
/loss.pickle
/message.html
/mis.html
/new_nicks.pickle
/new_nicks_29_52.pickle
/new_nicks_29_70.pickle
/nicks.pickle
/nicks1.pickle
/pas.html
/report.txt
/response_duel.html
/stat_dct.pickle
/telebot.log
/test.txt
/testov.py
/tets.py
/tt.py
